{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mt-3 mt-lg-5">
        <div class="card-product">
            <div class="overlaye rounded shadow-sm">
                <div class="card-product-image " style="background-image: url('http://192.168.1.114:8000{{ product.img.url }}')">
                    <img src="http://192.168.1.114:8000{{ product.img.url }}" width="100%" height="auto">
                </div>
                <a href="{% url 'order_form' product.id %}" class="link-buy">أطلبها الاّن</a>
                
                
            </div>
            <p>{{ product.title }}</p>
            <p>{{ product.price }}</p>
            {% if product.discount_set.first %}
            <p>{{ product.discount_set.first.percentage }}</p>
            {% endif %}  
        </div>




    </div>

    {% endfor %}
</div>
{% endblock %}

