html, body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    height: 2000px;
}
.padding-remove {
    padding: 0;
}
.margin-remove {
    margin: 0;
}
.padding-margin-remove {
    padding: 0;
    margin: 0;
}


nav .navbar-brand {
    text-align: center;
    margin: 5px;
}
.card {
    display: none;
}
label[for='id_img'] {
    border: solid blue 1px;
    border-radius: 5px;
    padding: 10px;
    color: blue;
    font-weight: bold;
    transition: 0.5s;
    
}

label[for='id_img']:hover {
    background-color: blue;
    color: #fff;
    cursor: pointer;
}
.overlaye {
    overflow: hidden;
    -webkit-box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.45);
    -moz-box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.45);
    box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.45);
}
.dropdown-menu {
    right: 0;
    left: 100%;
    text-align: right;
}
.box-height-width-a {
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
    width: 100%;
}
.box-height-width-a:before {

    content: "";
	display: block;
    padding-top: 150%;
	/* initial ratio of 1:2*/

}.box-height-width-b {
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
    width: 100%;
}
.box-height-width-b:before {

    content: "";
	display: block;
    padding-top: 100%;
	/* initial ratio of 1:1*/

}
.card-product-image{

	width: 100%;
}

.card-product-image:before {
	padding-top: 150%; 	/* initial ratio of 1:1*/
}

.link-buy {
    width: 100%;
    padding: 10px;
    background: red;
    display: block;
    text-align: center;
    color: #fff;
}
.card-product p {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    margin: 0
}

/* start buy now */


.gallery img {
    max-width: 100%;
    height: auto;
    object-fit: cover;

} 

.input-group {
    
}
.control-card a {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */ 
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: #ddd;
    height: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.45);
    -moz-box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.45);
    box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.45);
    color: #fff;

}
