{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ product.img.url }}" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">{{ product.title }}</h4>
        <h4 class="card-title">{{ product.price }}</h4>
    
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>


<form method="post" enctype="multipart/form-data">

{% csrf_token %}


{{ formsetattr|crispy }}



<input type="submit" name="submit" value="أضافة" />
</form>





{% endblock %}
