{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block static %}

    
{% endblock  %}
    
{% block content %}
<h3 class="text-center mt-3"> {{ title }}</h3>
<div class="row">
    <div class="col-lg-6 col-md-6 col-12 mt-3">
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            

            {{ form|crispy }}

            
            
            
            <input class="btn btn-danger"  type="submit" name="submit" value="أضافة الحسم" />
        </form>
    </div>
    <div class="col-lg-6 col-md-6 col-12 mt-3">
            <div class="card-product">
                    <div class="overlaye rounded shadow-sm">
                        <div class="card-product-image-admin">
                            <img src="http://192.168.1.114:8000{{ product.img.url }}" width="100%" height="auto">
                        </div>
                        
                        
                    </div>
                    <p>{{ product.title }}</p>
                    <p>{{ product.price }}</p>
                    {% if product.discount_set.first %}
                    <p>{{ product.new_price }}</p>
                    <p>الحسم الحالي: {{ product.discount_set.first.percentage }}</p>  
                    {% else %}
                    <p>لا يوجد حسم حاليا</p>
                    {% endif %}
                </div>
    </div>
</div>







{% endblock %}


{% block script %}
    
{% endblock  %}
    
    